<div class="profile__body">
	<div class="profile__container-outer">
		<div class="profile__container-inner">
			<img src="img/300.png" alt="photo" class="profile__photo">
			<div class="profile__name">Dr. Halima</div>
			<div class="profile__info">
				<div class="info__membership">
					member for <span class="membership__term">5 months</span>
				</div>
				<div class="info__last-seen">
					last seen <span class="last-seen__term">Saturday afternoon</span>
				</div>
				<div class="info__activity">
					activity level 
					<span class="activity__level">
						<i class="icon-award icon-award_active"></i>
						<i class="icon-award icon-award_active"></i>
						<i class="icon-award"></i>
					</span>
				</div>
			</div>
			<div class="profile__title">
				<h2 class="title__header">How it all started</h2>
				<button class="profile__previous icon-left-open-big"></button>
				<button class="profile__next profile__previous_active icon-right-open-big"></button>
				<h3 class="title__section-header">That's where we have been these 5 months ago</h3>
			</div>
			<div class="profile__squares">
				<div class="square__peers">
					<div class="peers__qty">46</div>
					<div class="peers__title">peers</div>
				</div>
				<div class="square__discussions">
					<div class="discussions__qty">29</div>
					<div class="discussions__title">discussions</div>
				</div>
				<div class="square__findings">
					<div class="findings__qty">19</div>
					<div class="findings__title">findings</div>
				</div>
				<div class="square__questions">
					<div class="questions__qty">10</div>
					<div class="questions__title">questions</div>
				</div>
			</div>
			<h3 class="title__section-header">Who joined the platform that same period</h3>
			<div class="profile__joined">
				<a href="#" class="joined__item">
					<img src="img/300.png" alt="photo" class="joined__photo">
					<span class="joined__name">S.E.N. Waweru</span>
				</a>
				<a href="#" class="joined__item">
					<img src="img/300.png" alt="photo" class="joined__photo">
					<span class="joined__name">Patricia</span>
				</a>
				<a href="#" class="joined__item">
					<img src="img/300.png" alt="photo" class="joined__photo">
					<span class="joined__name">Joseph Aluoch</span>
				</a>
			</div>
			<h3 class="title__section-header">The hottest diszussion these days</h3>
		</div>
		<footer class="profile__discuss">
			<div class="profile__container-inner">
				<a href="#"><img src="img/300.png" alt="photo" class="discuss__photo"></a>
				<div class="duscuss__author">
					<a href="#" class="discuss__name">Andrew</a>
					Found the guardian article
				</div>
				<a href="#" class="discuss__title">Vegan diet to stop diabetes progress</a>
				<div class="discuss__statistics">
					<div class="statistics__item">
						<span class="stats__qty">6</span>
						peers involved
					</div>
					<div class="statistics__item">
						<span class="stats__qty">3</span>
						related discussion
					</div>
					<div class="statistics__item">
						<span class="stats__qty">3</span>
						conversations
					</div>
					<div class="statistics__item">
						<span class="stats__qty">19</span>
						upvotes
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>